*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000000;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.top-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
.top-nav-left{
    display: flex;
    align-items: center;
}
.menu ul li{
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}
.menu ul li img{
    margin-left: 20px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}
.top-nav-right{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 100px;
}
.btn-1{
    padding: 8px 14px;
    background-color: transparent;
    border: 1px solid #C0F497;
    border-radius: 8px;
    color: #C0F497;
}
button{
    cursor: pointer;
}
.btn-2{
    padding: 8px 14px;
    background-color: transparent;
    border: none;
    color: #ffffff;
}
.search-img{
    cursor: pointer;
}
.banner{
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 130px;
}
.rating{
    display: flex;
    align-items: center;
    gap: 30px;
    color: #808080;
}
.banner h1{
    font-size: 72px;
    margin-top: 22px;
    font-weight: bold;
    line-height: 72px;
}
.banner .p-1{
    font-size: 16px;
    font-weight: 500;
    max-width: 500px;
    margin: 32px 0;
}
.btns{
    display: flex;
    align-items: center;
}
.btn-3{
    border-left: 1px solid #28A263;
    padding: 0px 14px;
    background-color: transparent;
    color: rgba(40, 162, 99, 1);
    text-align: left;
    line-height: 20px;
}
.btn-4{
    border: 1px solid #28A263;
    padding: 12px 24px;
    background-color: #28A263;
    color: #ffffff;
    border-radius: 8px;
}
.banner-btn-img{
    margin-top: 40px;
}
.section-1{
    padding: 24px;
    position: relative;
}
.section-1 .bg-1{
    position: absolute;
    width: 100%;
    top: -350px;
    left: 0;
    z-index: -1;
}
.section-1-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-1-top h2{
    font-weight: 700;
    font-size: 48px;
}
.btn-5{
    border: 2px solid #ffffff;
    padding: 12px 24px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 25px;
}
.section-1-cards{
    margin-top: 103px;
    display: flex;
    gap: 50px;
}
/* .section-1-cards img{

} */


swiper-container {
    display: flex;
    gap: 24px;
    margin-top: 100px;
  }

  .swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    background: #000000;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  swiper-container {
    margin-left: auto;
    margin-right: auto;
  }


  /* section 3 css  */

  .section-3{
    margin-top: 100px;
    padding: 24px;

  }
  .section-3-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-3-top .right{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .section-3-top .left h2{
    font-size: 48px;
    max-width: 660px;
  }
  .section-3-top .left span{
      color: #28A263;
    }
    .section-3-top .left button{
        padding: 12px 24px;
        background-color: transparent;
        border: 1px solid #ffffff;
        color: #28A263;
        border-radius: 50px;
        margin-top: 20px;
    }
    .section-3-top .right p{
        max-width: 300px;
        font-size: 14px;
  }

  .section-3-bottom{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
  }
  .section-3-bottom .col{
    background-color: #22242F;
    border-radius: 30px;
    padding: 40px 30px;
    flex-basis: 45%;
    box-sizing: border-box;
  }
  .info{
    display: flex;
    margin-top: 27px;
    gap: 20px;
    align-items: center;
  }
  .col h3{
    font-weight: 100;
    font-size: 26px;
    margin-bottom: 20px;
  }
  .col p{
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
  }